@import "tailwindcss";

:root {
  --background: #020617;
  --foreground: #f8fafc;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer base {
  * {
    @apply border-slate-800;
  }
}